@charset "UTF-8";
/* --------reset-------- */
/* partial import */
html {
  font-size: 1px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent; }

a {
  color: #333;
  text-decoration: none; }

img {
  vertical-align: middle;
  width: 100%;
  height: 100%; }

ul {
  list-style: none; }

@media (min-width: 1150px) {
  .title {
    position: relative;
    margin: 0 auto;
    width: 1280rem;
    height: 106rem;
    border-bottom: 1rem solid #c3b6b6;
    font-family: "Yu Mincho Regular", "YuMincho Medium"; }
    .title .icon-logo {
      position: absolute;
      left: 160rem;
      bottom: 11rem;
      font-size: 56rem; }
    .title .title_box {
      position: absolute;
      top: 19rem;
      right: 128rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 409rem; }
      .title .title_box .login {
        display: flex;
        align-items: center;
        font-size: 13rem; }
        .title .title_box .login a {
          color: gray; }
      .title .title_box .icon-icon-cart-green {
        width: 18rem;
        height: 18rem;
        margin-top: -8rem;
        margin-right: 2rem;
        font-size: 18rem; }
    .title .introduce {
      position: absolute;
      top: 55rem;
      right: 140rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 900rem;
      font-size: 21rem; }
      .title .introduce li {
        margin-left: 10rem; }
        .title .introduce li a {
          text-decoration: none; }

  .dropdown,
  .right,
  header {
    display: none; }

  .Box {
    margin: 66rem 150rem;
    width: 980rem;
    height: 5076rem; }
    .Box .productDiagram1 {
      position: relative;
      font-size: 40rem;
      font-weight: normal;
      font-family: "Yu Mincho Regular", "YuMincho Medium";
      letter-spacing: 3.2rem;
      color: #19433F;
      opacity: 1; }
      .Box .productDiagram1 .productDiagram1_1 {
        position: absolute;
        top: 426.11rem;
        right: 45rem; }
      .Box .productDiagram1 .productDiagram1_2 {
        float: right;
        position: absolute;
        top: 487.72rem;
        right: 45rem;
        height: 50rem; }
      .Box .productDiagram1 .productDiagram1_3 {
        position: absolute;
        top: 547.72rem;
        right: 45rem;
        height: 50rem; }
    .Box .productDiagram2 {
      position: relative;
      font-family: "Yu Mincho Regular", "YuMincho Medium"; }
      .Box .productDiagram2 #sp_productDiagram2,
      .Box .productDiagram2 .sp_productDiagram2_2 {
        display: none; }
      .Box .productDiagram2 .productDiagram2_1 {
        position: absolute;
        top: 495rem;
        left: 54rem;
        width: 440.72rem;
        font-size: 34rem;
        letter-spacing: 2.72rem;
        line-height: 58rem;
        color: #FFFFFF; }
      .Box .productDiagram2 .productDiagram2_2 {
        position: absolute;
        top: 696rem;
        left: 56rem;
        font-size: 20rem;
        line-height: 34rem;
        color: #044A28; }
    .Box .productDiagram3 {
      position: relative;
      font-family: "Yu Mincho Regular", "YuMincho Medium"; }
      .Box .productDiagram3 #sp_productDiagram3 {
        display: none; }
      .Box .productDiagram3 .productDiagram3_1 {
        position: absolute;
        top: 89rem;
        left: 56rem;
        width: 554rem;
        font-size: 32rem;
        letter-spacing: 2.56rem;
        line-height: 54rem;
        color: #FFFFFF; }
      .Box .productDiagram3 .sp_productDiagram3_2 {
        display: none; }
      .Box .productDiagram3 .productDiagram3_2 {
        position: absolute;
        top: 212rem;
        left: 53rem;
        font-size: 17rem;
        text-align: left;
        color: #FFFFFF;
        letter-spacing: var(--unnamed-character-spacing-0); }
    .Box .productDiagram4 {
      position: relative;
      font-family: "ヒラギノ角ゴ ProN W3"; }
      .Box .productDiagram4 .sp_productDiagram4_1 {
        display: none; }
      .Box .productDiagram4 #sp_productDiagram4 {
        display: none; }
      .Box .productDiagram4 .productDiagram4_1 {
        position: absolute;
        top: 153rem;
        left: 116rem;
        font-size: 16rem;
        text-align: center;
        color: #FFFFFF;
        line-height: 26rem; }
        .Box .productDiagram4 .productDiagram4_1 .interval_2,
        .Box .productDiagram4 .productDiagram4_1 .interval_3 {
          margin-top: 29rem; }
        .Box .productDiagram4 .productDiagram4_1 .interval_4 {
          margin-top: 56rem; }
      .Box .productDiagram4 .little_img {
        position: absolute;
        top: 606rem;
        left: 129rem;
        display: flex;
        width: 727rem;
        height: 226rem;
        justify-content: space-between; }
    .Box .recipe {
      position: relative;
      margin-top: 56rem;
      width: 980rem;
      height: 1115rem; }
      .Box .recipe img {
        width: 304rem;
        height: 305rem; }
      .Box .recipe .topic {
        position: absolute;
        top: -6rem;
        left: 451rem;
        font-size: 26rem;
        color: #044A28;
        letter-spacing: var(--unnamed-character-spacing-0); }
      .Box .recipe .onerank {
        position: absolute;
        top: 37rem;
        left: 386rem;
        font-size: 16rem;
        font-family: "ヒラギノ角ゴ ProN W3";
        color: #044A28;
        letter-spacing: var(--unnamed-character-spacing-0); }
      .Box .recipe .ryouri {
        position: absolute;
        top: 124rem;
        left: 2rem;
        width: 1035rem; }
        .Box .recipe .ryouri li {
          position: relative;
          float: left;
          margin-right: 33rem;
          width: 304rem;
          height: 529rem;
          font-family: "Yu Mincho Regular", "YuMincho Medium";
          color: #044A28; }
          .Box .recipe .ryouri li .recipe1 {
            position: absolute;
            top: 325rem;
            left: -1rem;
            font-size: 18rem; }
          .Box .recipe .ryouri li .recipe1_up {
            top: 324rem;
            left: 0rem; }
          .Box .recipe .ryouri li #sp {
            display: none; }
          .Box .recipe .ryouri li .recipe1_1 {
            position: absolute;
            top: 361rem;
            width: 304rem;
            font-size: 15rem;
            font-family: "ヒラギノ角ゴ ProN W3";
            line-height: 28rem; }
          .Box .recipe .ryouri li .recipe1_1_down {
            top: 362rem; }
          .Box .recipe .ryouri li .more {
            position: absolute;
            top: 430rem;
            left: 186rem;
            width: 119rem;
            height: 31rem;
            background: #044A28 0% 0% no-repeat padding-box;
            border-radius: 16rem;
            font-size: 13rem;
            font-family: "ヒラギノ角ゴ ProN W3";
            color: #FFFFFF;
            text-align: center;
            line-height: 31rem; }
            .Box .recipe .ryouri li .more .f {
              float: left;
              margin-left: 40rem; }
            .Box .recipe .ryouri li .more .icon-arrow-right {
              float: right;
              margin-left: 21rem;
              top: 428rem;
              left: 106.4rem;
              opacity: 1;
              color: #FFFFFF; }
        .Box .recipe .ryouri li:nth-child(3n) {
          margin-right: 0; }
        .Box .recipe .ryouri .nav_left {
          left: -2rem; }

  .goods {
    position: relative;
    width: 1280rem;
    height: 1126rem;
    background-color: #FAFAFA; }
    .goods .sign {
      position: absolute;
      left: 512rem;
      top: 66rem;
      width: 243rem;
      height: 66rem;
      background-image: url("../../img/targetProductTtlBg.png"); }
    .goods .topic {
      position: absolute;
      left: 572rem;
      top: 88rem;
      font-family: "Yu Mincho Demibold", "YuMincho Demibold";
      font-size: 32rem;
      letter-spacing: 2.56rem;
      color: #19433F; }
    .goods .condition {
      position: absolute;
      left: 520rem;
      top: 184rem;
      font-family: "Yu Mincho Demibold", "YuMincho Demibold";
      font-size: 12rem;
      text-align: center;
      line-height: 26rem; }
      .goods .condition .condition1 {
        float: left;
        margin-right: 10rem;
        width: 114rem;
        height: 25rem;
        border: 1rem solid #9D0000;
        color: #9D0000; }
      .goods .condition .condition2 {
        float: left;
        margin-right: 10rem;
        width: 78rem;
        height: 25rem;
        background-color: #D7B8DB;
        color: #FFFFFF; }
      .goods .condition .condition3 {
        float: left;
        margin-right: 10rem;
        width: 68rem;
        height: 25rem;
        background-color: #EFDC83;
        color: #FFFFFF; }
    .goods .img1 {
      width: 320rem;
      height: 322rem;
      position: absolute;
      left: 150rem;
      top: 184rem; }
    .goods .number {
      position: absolute;
      left: 520rem;
      top: 227rem;
      font-family: "Yu Mincho Regular", "YuMincho Medium";
      font-size: 14rem;
      color: #000000; }
    .goods .set {
      position: absolute;
      left: 520rem;
      top: 252rem;
      font-family: "Yu Mincho Demibold", "YuMincho Demibold";
      font-size: 28rem;
      color: #19433F; }
    .goods .no {
      position: absolute;
      left: 750rem;
      top: 260rem;
      font-family: "Yu Mincho Demibold", "YuMincho Demibold";
      font-size: 20rem;
      color: #19433F; }
    .goods .price {
      position: absolute;
      left: 520rem;
      top: 298rem;
      font-family: "ヒラギノ角ゴ ProN W3";
      font-size: 31rem;
      color: #9D0000; }
      .goods .price span {
        margin-left: 7rem;
        font-size: 18rem;
        color: #000000; }
    .goods .down {
      position: absolute;
      left: 693rem;
      top: 313rem;
      font-size: 14rem;
      color: #000000;
      text-decoration: line-through; }
    .goods #sp_intro {
      display: none; }
    .goods .intro {
      position: absolute;
      left: 520rem;
      top: 353rem;
      width: 610rem;
      height: 64rem;
      line-height: 24rem;
      font-family: "ヒラギノ角ゴ ProN W3";
      font-size: 14rem;
      color: #000000; }
      .goods .intro .limit {
        display: block;
        margin-top: 5rem;
        color: #9D0000; }
    .goods .btn {
      position: relative;
      left: 520rem;
      top: 470rem;
      padding-left: 20rem;
      width: 200rem;
      height: 34rem;
      background-color: #9D0000;
      border-radius: 16rem;
      font-family: "ヒラギノ角ゴ ProN W3";
      font-size: 14rem;
      color: #FFFFFF; }
      .goods .btn .icon-arrow-right {
        float: right;
        text-align: center;
        margin-right: -1rem;
        opacity: 1;
        color: #FFFFFF; }
    .goods .sp_other {
      display: none; }
    .goods .other {
      position: absolute;
      left: 135rem;
      top: 558rem; }
      .goods .other li {
        position: relative;
        float: left;
        width: 233rem;
        height: 313rem;
        margin-left: 16rem;
        /* background-color: green; */ }
        .goods .other li img {
          position: absolute;
          left: 0;
          top: 5rem;
          width: 233rem;
          height: 233rem; }
      .goods .other a {
        position: absolute;
        top: 255rem;
        left: 1rem;
        width: 233rem;
        font-family: "ヒラギノ角ゴ ProN W6";
        font-size: 13rem;
        text-align: center;
        color: #19433F; }
    .goods .sp_advertisement {
      display: none; }
    .goods .pc_advertisement {
      position: absolute;
      left: 149rem;
      bottom: 113rem;
      width: 980rem;
      height: 135rem; }

  .question {
    margin-top: -60rem;
    width: 1280rem;
    height: 869rem; }
    .question .background {
      position: relative;
      width: 1280rem;
      height: 240rem;
      background-color: #dbd5d5; }
      .question .background .contact1 {
        position: relative;
        float: left;
        margin-left: 20rem;
        width: 224rem;
        height: 185rem;
        font-family: "ヒラギノ角ゴ ProN W6"; }
        .question .background .contact1 .icon {
          margin-top: 37rem;
          margin-left: 16rem;
          width: 60rem;
          height: 60rem;
          fill: currentColor;
          overflow: hidden; }
        .question .background .contact1 .ans {
          position: absolute;
          top: 55rem;
          left: 88rem;
          font-size: 15rem; }
        .question .background .contact1 .ans_Left {
          top: 56rem;
          left: 89rem;
          font-size: 16rem; }
        .question .background .contact1 .sp_content,
        .question .background .contact1 .sp_content2,
        .question .background .contact1 .sp_content3 {
          display: none; }
        .question .background .contact1 .content {
          position: absolute;
          bottom: -2rem;
          left: 14rem;
          width: 220rem;
          line-height: 18rem;
          font-size: 12rem; }
        .question .background .contact1 .content2 {
          position: absolute;
          width: 220rem;
          bottom: -26rem;
          left: 8rem;
          line-height: 20rem;
          font-size: 12rem;
          transform: scale(0.95, 0.95); }
        .question .background .contact1 .content3 {
          position: absolute;
          bottom: 27rem;
          left: 13rem;
          font-size: 16rem;
          width: 250rem; }
          .question .background .contact1 .content3 .iconfont {
            font-size: 22rem; }
          .question .background .contact1 .content3 .fb,
          .question .background .contact1 .content3 .ins {
            margin-left: -1rem;
            display: inline-block;
            width: 70rem;
            height: 22rem;
            font-size: 15rem; }
        .question .background .contact1 .sp_content3 {
          display: none; }
      .question .background .contact1:nth-child(1) {
        margin-left: 150rem; }

  .Tel {
    margin: 27rem auto;
    display: flex;
    justify-content: space-around;
    width: 980rem; }
    .Tel img {
      width: 460rem;
      height: 120rem; }

  .information {
    position: relative;
    height: 440rem; }
    .information ul {
      width: 950rem;
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 165rem;
      top: -9rem; }
      .information ul .infor {
        position: relative;
        height: 300rem; }
        .information ul .infor .topic {
          position: absolute;
          left: 0;
          top: 22rem;
          font-size: 24rem; }
        .information ul .infor ol {
          margin-top: 79rem;
          list-style-type: none; }
        .information ul .infor li {
          height: 22rem;
          font-size: 15rem;
          margin-bottom: 15rem; }
          .information ul .infor li a {
            text-decoration: none; }
      .information ul .phusikos_left {
        margin-left: -6rem; }
      .information ul .infor_left {
        margin-left: -12rem; }
      .information ul .topic_right {
        margin-right: -4rem; }
      .information ul .shop_right {
        margin-right: 2rem; }

  .last {
    position: relative;
    left: 20;
    bottom: 85rem;
    width: 1280rem;
    height: 70rem;
    border-top: 1rem solid gray; }
    .last .icon-logo {
      position: absolute;
      left: 163rem;
      top: 5rem;
      font-size: 55rem; }
    .last .information {
      position: absolute;
      top: 20rem;
      left: 265rem;
      height: 30rem;
      font-size: 12rem;
      line-height: 29rem; }
    .last .follow {
      position: absolute;
      top: 27rem;
      right: 165rem;
      font-size: 14rem; }
      .last .follow .icon-icon-facebook {
        font-size: 22rem;
        margin-right: 6rem; }
      .last .follow .icon-icon-instagram {
        font-size: 22rem; } }
@media (max-width: 1149px) {
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 375rem;
    height: 66rem;
    background-color: #FFFFFF;
    z-index: 1; }
    header .top {
      position: relative;
      font-size: 8rem;
      color: #044A28; }
      header .top .p1 {
        position: relative;
        left: 5rem;
        top: -2rem;
        width: 50rem;
        height: 50rem;
        text-align: center; }
        header .top .p1 .icon-caidan {
          font-size: 40rem; }
        header .top .p1 .menu {
          margin-top: -15rem;
          transform: scale(0.95); }
      header .top .icon-logo {
        position: absolute;
        left: 151.5rem;
        top: 2rem;
        font-size: 45rem; }
      header .top .p2 {
        position: relative;
        left: 267rem;
        top: -39rem;
        width: 50rem;
        height: 50rem;
        text-align: center; }
        header .top .p2 .icon-icon-login-green {
          text-align: center;
          font-size: 23rem; }
        header .top .p2 .login {
          margin-top: -3rem;
          margin-right: -1rem;
          text-align: center; }
      header .top .p3 {
        position: relative;
        left: 321rem;
        top: -89rem;
        width: 50rem;
        height: 50rem;
        text-align: center; }
        header .top .p3 .icon-icon-cart-green {
          text-align: center;
          font-size: 23rem; }
        header .top .p3 .cart {
          margin-top: -3rem;
          margin-right: -1rem;
          text-align: center; }

  .title {
    display: none; }

  .Box {
    position: absolute;
    top: 67rem; }
    .Box .productDiagram1 {
      position: relative;
      font-size: 18rem;
      letter-spacing: 1.44rem;
      font-family: "Yu Mincho Regular", "YuMincho Medium";
      color: #19433F; }
      .Box .productDiagram1 .img1_1 {
        width: 375rem;
        height: 375rem; }
      .Box .productDiagram1 .productDiagram1_1 {
        position: absolute;
        top: 160.73rem;
        left: 179.93rem; }
      .Box .productDiagram1 .productDiagram1_2 {
        position: absolute;
        top: 190.69rem;
        right: 19.85rem; }
      .Box .productDiagram1 .productDiagram1_3 {
        position: absolute;
        top: 218.69rem;
        right: 19.85rem; }
    .Box .productDiagram2 {
      position: relative;
      font-family: "Yu Mincho Demibold", "YuMincho Demibold"; }
      .Box .productDiagram2 #pc_productDiagram2 {
        display: none; }
      .Box .productDiagram2 .productDiagram2_1 {
        position: absolute;
        left: 21rem;
        top: 25rem;
        width: 233.44rem;
        height: 80rem;
        letter-spacing: 1.44rem;
        font-size: 18rem;
        line-height: 31rem;
        color: #FFFFFF; }
      .Box .productDiagram2 .productDiagram2_2 {
        display: none; }
      .Box .productDiagram2 .sp_productDiagram2_2 {
        position: absolute;
        left: 24rem;
        top: 277rem;
        width: 327rem;
        height: 76rem;
        font-size: 13rem;
        line-height: 20.5rem;
        color: #044A28; }
    .Box .productDiagram3 {
      position: relative;
      font-family: "Yu Mincho Regular", "YuMincho Medium"; }
      .Box .productDiagram3 #pc_productDiagram3 {
        display: none; }
      .Box .productDiagram3 .productDiagram3_1 {
        position: absolute;
        left: 24rem;
        top: 25rem;
        width: 311.44rem;
        height: 43rem;
        letter-spacing: 1.44rem;
        font-size: 18rem;
        color: #FFFFFF; }
      .Box .productDiagram3 .productDiagram3_2 {
        display: none; }
      .Box .productDiagram3 .sp_productDiagram3_2 {
        position: absolute;
        left: 24rem;
        top: 90rem;
        width: 334rem;
        height: 45rem;
        font-size: 14rem;
        line-height: 24rem;
        letter-spacing: var(--unnamed-character-spacing-0);
        color: #FFFFFF; }
    .Box .productDiagram4 {
      position: relative; }
      .Box .productDiagram4 #pc_productDiagram4 {
        display: none; }
      .Box .productDiagram4 .productDiagram4_1 {
        display: none; }
      .Box .productDiagram4 .sp_productDiagram4_1 {
        position: absolute;
        left: 24rem;
        top: 22rem;
        width: 323rem;
        height: 412rem;
        font-size: 12rem;
        text-align: center;
        line-height: 20rem;
        color: #FFFFFF; }
      .Box .productDiagram4 .little_img {
        position: absolute;
        top: 465rem;
        left: 29.5rem;
        display: flex;
        width: 317rem;
        height: 98rem;
        justify-content: space-between; }
        .Box .productDiagram4 .little_img img {
          width: 98rem; }
    .Box .recipe {
      position: relative;
      margin-left: 24rem;
      margin-top: 25rem; }
      .Box .recipe .topic {
        position: absolute;
        top: 4rem;
        left: 134rem;
        font-size: 19rem;
        color: #044A28;
        font-family: "Optima Bold Italic", "OptimaNova"; }
      .Box .recipe .onerank {
        position: absolute;
        left: 73rem;
        top: 41rem;
        font-size: 14rem;
        color: #044A28;
        font-family: "ヒラギノ角ゴ ProN W3"; }
      .Box .recipe .ryouri {
        position: absolute;
        top: 71rem; }
        .Box .recipe .ryouri li {
          float: left;
          margin-right: 21rem;
          position: relative;
          width: 153rem;
          height: 337rem; }
          .Box .recipe .ryouri li Img {
            position: absolute;
            top: 4rem;
            left: 0rem;
            width: 153rem;
            height: 153rem; }
          .Box .recipe .ryouri li .recipe1 {
            position: absolute;
            left: 0;
            top: 164rem;
            width: 140rem;
            font-size: 14rem;
            font-family: "Yu Mincho Regular", "YuMincho Medium";
            line-height: 23rem;
            color: #044A28; }
          .Box .recipe .ryouri li .Up {
            top: 164rem;
            line-height: 21rem; }
          .Box .recipe .ryouri li #pc {
            display: none; }
          .Box .recipe .ryouri li .recipe1_1 {
            position: absolute;
            left: 0;
            top: 212rem;
            width: 153rem;
            font-size: 12rem;
            font-family: "ヒラギノ角ゴ ProN W3";
            line-height: 18rem;
            color: #044A28; }
          .Box .recipe .ryouri li .recipe1_1_up {
            top: 211rem; }
          .Box .recipe .ryouri li .up {
            top: 208rem; }
          .Box .recipe .ryouri li .more {
            position: absolute;
            left: 17rem;
            top: 279rem;
            padding-left: 1rem;
            padding-top: 2rem;
            width: 119rem;
            height: 31rem;
            background-color: #044A28;
            font-size: 13rem;
            font-family: "ヒラギノ角ゴ ProN W3";
            border-radius: 16rem;
            color: #FFFFFF;
            text-align: center;
            line-height: 31rem; }
            .Box .recipe .ryouri li .more .icon-arrow-right {
              position: absolute;
              top: 0;
              right: 3rem; }
            .Box .recipe .ryouri li .more .arrow_down {
              top: 1rem;
              right: 3rem; }
          .Box .recipe .ryouri li .recipe_more_down {
            top: 281rem; }
          .Box .recipe .ryouri li .recipe_more_down3,
          .Box .recipe .ryouri li .recipe_more_down4 {
            padding-top: 1rem;
            top: 281rem; }
          .Box .recipe .ryouri li .sp_more_top {
            padding-top: 1rem;
            top: 278rem; }
          .Box .recipe .ryouri li .sp_recipe1_down {
            top: 164rem; }
          .Box .recipe .ryouri li .recipe3_down,
          .Box .recipe .ryouri li .recipe4_down {
            top: 5rem; }
          .Box .recipe .ryouri li .recipe1_lh {
            top: 165rem;
            left: -1rem;
            line-height: 21rem; }

  .Box2 {
    position: absolute;
    top: 2896rem;
    width: 375rem;
    height: 1439rem;
    background-color: #FAFAFA; }
    .Box2 .goods {
      position: relative;
      margin-left: 23rem;
      margin-top: 0; }
      .Box2 .goods .sign {
        position: absolute;
        left: 80rem;
        top: 24rem;
        width: 170rem;
        height: 42rem;
        background-image: url("../img/sp_targetProductTtlBg.png"); }
      .Box2 .goods .topic {
        position: absolute;
        left: 114rem;
        top: 52rem;
        font-size: 24rem;
        letter-spacing: 1.92rem;
        color: #19433F;
        font-family: "Yu Mincho Regular", "YuMincho Medium"; }
      .Box2 .goods .img1 {
        position: absolute;
        left: 1rem;
        top: 99rem;
        width: 327rem;
        height: 327rem; }
      .Box2 .goods .condition {
        position: absolute;
        left: 1rem;
        top: 455rem;
        font-size: 12rem;
        font-family: "Yu Mincho Demibold", "YuMincho Demibold";
        text-align: center; }
        .Box2 .goods .condition .condition1 {
          float: left;
          margin-right: 10rem;
          width: 114rem;
          height: 25rem;
          border: 1rem solid red;
          color: red;
          line-height: 25rem; }
        .Box2 .goods .condition .condition2 {
          float: left;
          margin-top: 1rem;
          margin-right: 10rem;
          width: 76rem;
          height: 24rem;
          background-color: #D7B8DB;
          color: #FFFFFF;
          line-height: 26rem; }
        .Box2 .goods .condition .condition3 {
          float: left;
          margin-top: 1rem;
          width: 68rem;
          height: 24rem;
          background-color: #EFDC83;
          color: #FFFFFF;
          line-height: 25rem; }
      .Box2 .goods .number {
        position: absolute;
        top: 501rem;
        left: 5rem;
        font-size: 12rem;
        font-family: "Yu Mincho Regular", "YuMincho Medium"; }
      .Box2 .goods .set {
        position: absolute;
        left: 1rem;
        top: 521rem;
        font-size: 18rem;
        font-family: "Yu Mincho Demibold", "YuMincho Demibold";
        color: #19433F;
        letter-spacing: NaNrem; }
        .Box2 .goods .set span {
          font-size: 14rem; }
      .Box2 .goods .no {
        position: absolute;
        left: 4rem;
        top: 548rem;
        font-family: "Yu Mincho Demibold", "YuMincho Demibold";
        font-size: 14rem;
        letter-spacing: NaNrem;
        color: #19433F; }
      .Box2 .goods .price {
        position: absolute;
        top: 581rem;
        left: 5rem;
        font-size: 28rem;
        font-family: "ヒラギノ角ゴ ProN W3";
        color: #9D0000; }
        .Box2 .goods .price span {
          color: #000000;
          font-size: 16rem; }
      .Box2 .goods .down {
        position: absolute;
        top: 596rem;
        left: 175rem;
        font-size: 14rem;
        font-family: "ヒラギノ角ゴ ProN W3";
        color: #000000;
        text-decoration: line-through; }
      .Box2 .goods #pc_intro {
        display: none; }
      .Box2 .goods .intro {
        position: absolute;
        top: 630rem;
        font-size: 13rem;
        font-family: "ヒラギノ角ゴ ProN W3";
        color: #000000;
        line-height: 23rem; }
        .Box2 .goods .intro .limit {
          margin-top: 7rem;
          display: block;
          color: #9D0000; }
      .Box2 .goods .btn {
        position: absolute;
        left: 59rem;
        top: 799rem;
        width: 200rem;
        height: 34rem;
        padding-top: 7rem;
        padding-left: 1rem;
        background-color: #9D0000;
        font-size: 14rem;
        font-family: "ヒラギノ角ゴ ProN W3";
        border-radius: 16rem;
        color: #FFFFFF; }
        .Box2 .goods .btn .icon-arrow-right {
          position: absolute;
          top: 5rem;
          right: 8rem;
          font-size: 17rem; }
      .Box2 .goods .other {
        display: none; }
      .Box2 .goods .sp_other {
        position: relative;
        top: 874rem; }
        .Box2 .goods .sp_other li {
          float: left;
          margin-right: 21rem;
          position: relative;
          width: 153rem;
          height: 224rem; }
          .Box2 .goods .sp_other li img {
            height: 150rem; }
          .Box2 .goods .sp_other li .sp_other1_up,
          .Box2 .goods .sp_other li .sp_other2_up {
            top: 158rem; }
          .Box2 .goods .sp_other li .sp_other3_lf,
          .Box2 .goods .sp_other li .sp_other4_lf {
            line-height: 20rem; }
          .Box2 .goods .sp_other li a {
            position: absolute;
            top: 163rem;
            left: 1rem;
            width: 153rem;
            text-align: center;
            color: #044A28;
            font-size: 12rem;
            font-family: "ヒラギノ角ゴ ProN W6";
            font-weight: 700;
            line-height: 20rem; }
      .Box2 .goods .pc_advertisement {
        display: none; }
      .Box2 .goods .sp_advertisement {
        margin-top: 878rem;
        width: 327rem;
        height: 74rem; }

  .question {
    position: absolute;
    top: 4338rem;
    width: 375rem;
    height: 1150rem; }
    .question .contact {
      display: flex;
      flex-wrap: wrap; }
      .question .contact .Up {
        border-right: 1rem solid gray; }
      .question .contact .Left {
        border-bottom: 1rem solid gray; }
      .question .contact .Right {
        border-bottom: 1rem solid gray; }
      .question .contact .Down {
        border-right: 1rem solid gray; }
      .question .contact li {
        position: relative;
        width: 187.5rem;
        height: 196rem;
        background-color: #d5cece; }
        .question .contact li .ic {
          display: flex;
          align-items: center;
          margin-top: 13rem;
          margin-left: 29rem;
          width: 180rem;
          height: 50rem; }
          .question .contact li .ic .icon {
            float: left;
            margin-top: -2rem;
            margin-left: -1rem;
            width: 40rem;
            height: 40rem;
            line-height: 50rem;
            fill: currentColor; }
          .question .contact li .ic .ans {
            margin-top: 9rem;
            margin-left: 10rem;
            float: left;
            width: 96rem;
            font-size: 14rem; }
          .question .contact li .ic .ans2_left {
            margin-left: 11rem; }
          .question .contact li .ic .ans3_left {
            margin-left: 13rem; }
          .question .contact li .ic .ans_Left {
            margin-top: 4rem;
            margin-left: 10rem;
            font-size: 17rem; }
          .question .contact li .ic .icon2_down {
            margin-top: 0rem; }
          .question .contact li .ic .icon4_up {
            margin-top: -6rem; }
        .question .contact li .ic_Left {
          margin-top: 12rem;
          margin-left: 17rem; }
        .question .contact li .ic_Left2 {
          margin-top: 14rem;
          margin-left: 30rem; }
        .question .contact li .ic_Left3 {
          margin-top: 16rem;
          margin-left: 18rem; }
        .question .contact li .content,
        .question .contact li .content2,
        .question .contact li .content3 {
          display: none; }
        .question .contact li .sp_content,
        .question .contact li .sp_content2 {
          position: absolute;
          left: 24rem;
          top: 71rem;
          width: 160rem;
          height: 60rem;
          font-size: 12rem;
          transform: scale0 0.95;
          line-height: 21rem; }
        .question .contact li .sp_content_Left {
          left: 12rem; }
        .question .contact li .sp_content2_Top {
          top: 72rem; }
        .question .contact li .sp_content3 {
          margin-top: 26rem;
          margin-left: 18rem;
          width: 150rem;
          height: 40rem;
          font-size: 18rem; }
          .question .contact li .sp_content3 .sp_content3_1 .icon-icon-facebook {
            display: block;
            float: left;
            margin-left: -2rem;
            line-height: 14rem;
            font-size: 22rem; }
          .question .contact li .sp_content3 .sp_content3_1 .fb {
            display: block;
            margin-left: 10rem;
            float: left;
            line-height: 15rem;
            font-size: 16rem; }
          .question .contact li .sp_content3 .sp_content3_2 {
            margin-top: 10rem; }
            .question .contact li .sp_content3 .sp_content3_2 .icon-icon-instagram {
              display: block;
              float: left;
              margin-left: -2rem;
              line-height: 18rem;
              font-size: 22rem; }
            .question .contact li .sp_content3 .sp_content3_2 .ins {
              display: block;
              margin-left: 10rem;
              float: left;
              line-height: 18rem;
              font-size: 16rem; }
    .question .tel {
      position: relative;
      top: 8rem;
      left: 15rem;
      width: 345rem;
      height: 91rem; }
    .question .mail {
      position: relative;
      top: 32rem;
      left: 15rem;
      width: 345rem;
      height: 91rem; }
    .question .last,
    .question .information {
      display: none; }
    .question .dropdown {
      margin-top: 62rem; }
      .question .dropdown .accordion {
        display: block;
        background-color: #044A28;
        color: #FFFFFF;
        cursor: pointer;
        padding-top: 10rem;
        padding-left: 16rem;
        width: 375rem;
        height: 57rem;
        border: none;
        text-align: left;
        outline: none;
        font-size: 23rem;
        text-decoration: none;
        transition: 0.4s;
        z-index: 999; }
      .question .dropdown .infor_size {
        font-size: 24rem; }
      .question .dropdown .accordion:after {
        content: "\02795";
        font-size: 13rem;
        padding-top: 7rem;
        padding-right: 6rem;
        color: #777;
        float: right; }
      .question .dropdown .active:after {
        content: "\2796"; }
      .question .dropdown .panel {
        display: none;
        padding: 0 18rem;
        background-color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out; }
        .question .dropdown .panel a {
          font-size: 12rem;
          color: #000000;
          padding: 12rem 16rem;
          text-decoration: none;
          display: block; }
      .question .dropdown .show {
        display: block; }

  .right {
    position: relative;
    top: 6rem;
    width: 375rem;
    height: 130rem; }
    .right .icon-logo {
      position: absolute;
      left: 152rem;
      font-size: 54rem; }
    .right .explain {
      position: absolute;
      left: 24rem;
      bottom: 30rem;
      font-size: 12rem;
      transform: scale(0.87); } }
